.help-home--title {
    margin-bottom: 5px;
    color: var(--bs-qrqc);
    font-size: 1.5rem;
    font-weight: 600;

    small {
        font-size: 1.2rem;
    }
}

.help-home--ks {
    width: 75%;
    margin: 0 auto;
    max-width: 250px !important;
}

.help-home--icon {
    color: var(--bs-qrqc);
    margin-right: 0.5rem;
}

.help-home {
    a {
        color: var(--bs-qrqc);
    }
}
